html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
  }
  
  .hero {
    position: relative;
    height: 100vh;
    overflow: hidden; /* da ništa ne iskoči van */
  }
  
  .hero::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* da bude ispod sadržaja */
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 20%;
  }

  .form {
    padding-top: 30px; padding-bottom: 30px;
    padding-left: 50px; padding-right: 50px;
    border: 1px solid black;
    border-radius: 35px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background: rgba(166, 163, 224, 0.1);
    backdrop-filter: blur(7px);
    color: white;
    box-shadow: 0 0 20px rgba(166, 163, 224, 0.2);
  }

  .form input {
    margin: 10px;
    border: 1px solid gray;
    border-radius: 75px;
    width: 160px;
    height: 25px;
    padding-left: 10px;
  }

  #submit {
    width: fit-content;
    height: fit-content;
    background-color: blanchedalmond;
    margin: 15px;
    padding: 10px 20px 10px 20px;
  }

  .form form {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }